@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    background-color: #FBDB48;
    height: 55px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
.header .user {
    margin-right: 20px;
    font-family: "Prompt", Helvetica, sans-serif;
    font-size: large;
    font-weight: 200;
    
    
}
.header .bar-user{
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.menu-item {
    text-align: center;
    margin: 0 20px;
    font-weight: 200;
    font-family: "Prompt", Helvetica, sans-serif;
    padding: 50px;

}
.menu-item img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #f0f0f0;
    
    
}
.menu-item p {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}
.menu-item a {
    text-decoration: none;
}
.logo-psu img{
    width: 52px;
    height: 28 px;
    padding: 2px;
    margin-left: 120px;
}
/* Hamburger Menu */
.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* ไอคอนเมนู */
.hamburger-icon img{  
    width: 47px;
    height: 38px;
    margin-top: 10px;
    margin-left: 28px;
}

/* เมนูแถบข้าง */
.menu-sidebar {
    position: fixed;
    justify-content: left;
    top: 55px;
    left: -250px; /* ซ่อนเมนูไว้ */
    width: 250px;
    height: 100vh;
    background-color: #F5F5F5;
    transition: 0.3s;
    padding-top: 60px;
}

/* ลิงก์เมนู */
.menu-sidebar a {
    display: flex;  /* ใช้ flex เพื่อให้ไอคอนและข้อความอยู่ในแนวเดียวกัน */
    align-items: center; /* จัดข้อความและไอคอนให้อยู่ตรงกลางในแนวตั้ง */
    padding: 10px 20px;  /* เพิ่มช่องว่างซ้าย-ขวา */
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
    justify-content: flex-start; /* ทำให้ข้อความและไอคอนชิดซ้าย */
    margin-top: 20px;
    font-family: "Prompt";
    
    
}

.menu-sidebar a:hover {
    background-color: #fbf3ce;
}

/* เมนูแสดงเมื่อเปิด */
.menu-sidebar.active {
    left: 0;
}
.menu-sidebar a img {
    width: 35px;  /* ขนาดของไอคอนในเมนู */
    height: 35px; /* ขนาดของไอคอนในเมนู */
    margin-right: 20px; /* เว้นระยะจากข้อความ */
}

.menu-sidebar a:nth-child(3) img {
    margin-left: 4px;
    margin-right: 15px;  /* เลื่อนไอคอนไปทางขวา 2px */
}
.menu-sidebar a:nth-child(4) img {
    width: 32px;
    height: 32px;
    margin-right: 23px;  /* เลื่อนไอคอนไปทางขวา 2px */
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #FBDB48;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #35599E;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: auto;
    right: -30%;
    top: 100%;
    align-items: center;
    
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
    
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #35599E}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #FBDB48;
  }

  .dropdown-content a img {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .profile-circle {
    width: 40px;
    height: 40px;
    background-color: #007BFF; /* สีพื้นหลัง */
    color: white;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    margin-right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    font-family: "Prompt";
}
.container {
    max-width:151vh;
    height: 88vh;
    margin-left: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
}
.header-profile {
    display: flex;
    gap: 10px;
    margin-left: 85px;
    padding-bottom: 80px;
    
}
.header-profile a {
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}

.header-profile .Y-button {
    background-color: #FBDB48;
}

.profile-card {
    width: 300px;
    height: 400px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid black;
    border-radius: 0px;
    margin-right: 90px;
    position: relative;
    text-align: center;
   
}
.profile-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);


}
.profile-info {
    margin-left: 20px;
    margin-top: 80px;
}
.info-list {
    margin-top: 20px;
    display: contents;
    
}

.info-list p {
    margin: 5px 0;
    text-align: left;
    padding: 8px;
    font-size: 23px;
    
}

.info-list .fix-text{
    text-align: left;
}


.info-list .nonfix-text{
    margin-left: 40px;
    text-align: left;
}

.edit-link {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    
}
.edit-link:hover {
    text-decoration: underline;
}
.in-container{
    
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    margin-left: 90px;
    

    

}
.header-profile2{
    text-align: left;
    margin-left: 85px;
    font-size: 30px;
    font-style: normal;
}

.in-info{
    margin-top: 45px;
    
}
.edit-profile-content{
    display: flex;
    padding-left: 50px;
    padding-bottom: 50px;
    /*margin-left: 90px;*/
    text-align: left;
    font-size: 22px;
}

.container-edit {
    max-width:151vh;
    height: 88vh;
    margin-left: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
}
.header-profile-edit {
    display: flex;
    gap: 10px;
    margin-left: 85px;
    padding-bottom: 50px;
    
}
.header-profile-edit a {
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}
.header-profile2-edit{
    text-align: left;
    margin-left: 85px;
    font-size: 30px;
    font-style: normal;
}

.header-profile-edit .Y-button {
    background-color: #FBDB48;
}


.edit-all-profile .info-edit{
    display: flex;
    flex-direction: column;
    
}
.info-edit{
    display: contents;
}

.info-edit input{
    width: 280px;
    height: 20px;
    margin-left: 80px;
    padding: 8px;
    margin-bottom: 3px;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.edit-all-profile{
    display: flex;
    flex-direction: row;
}
.edit-fix-info p{
    text-align: left;
    margin-left: 90px;
    font-size: 20px;
    
}

.edit-img{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    align-items: center;
    
}

input[type="file"] {
    margin-top: 40px;
    color: transparent;
    
    
}

.custom-file-upload {
    display: inline-block;
    width: 110px;
    padding: 6px 24px;
    background-color: rgb(194, 194, 194); /* สีเหลือง */
    color: black; /* สีข้อความ */
    font-size: 18px;
    border-radius: 15px; /* ความโค้งมน */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.custom-file-upload:hover {
    background-color: #FBDB48; /* สีเหลืองเข้มขึ้นเมื่อ hover */
}

.custom-file-upload input {
    display: none; /* ซ่อน input file */
}

.edit-img p{
    color: red;
}


.button-group{
    margin-top: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.button-group button{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    
}

.b-red{
    background-color: #fd9393;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.b-red img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 10px;
    
}
.b-red a{
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    
    
}
.b-blue{
    background-color: rgb(151, 151, 253);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.b-blue{
    font-family: "Prompt", sans-serif;
    font-size: 18px;
}

.b-green{
    background-color: rgb(140, 255, 140);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.b-green{
    font-family: "Prompt", sans-serif;
    font-size: 18px;
}
.button-group a {
    text-decoration: none;
}

.dropdown-list-major-branch{
    width: 300px;
    height: 40px;
    margin-left: 80px;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.container-form {
    max-width:149vh;
    height: auto;
    margin-left: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
}
.header-profile-form {
    display: flex;
    gap: 10px;
    margin-left: 85px;
    padding-bottom: 50px;
    
}
.header-profile-form a {
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}
.header-profile2-form{
    text-align: left;
    margin-left: 85px;
    font-size: 30px;
    font-style: normal;
}

.header-profile-form .Y-button {
    background-color: #FBDB48;
}
.sent-form{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}


.form1{
    display: flex;
    max-height: 50px;
    margin-bottom: 20px;
}
.form1 p{
    font-size: 28px;
    font-weight: bold;
}


.form2 {
    display: flex;  
    align-items: center;
    max-height: 50px;
}
.form2 p{
    font-size: 25px;  
    
}
.form2 input{
    width: 200px;
    height: 28px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form3 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form3 p{
    font-size: 25px;  
    
}
.form3 input{
    width: 348px;
    height: 28px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}

.form4 {
    display: flex;
    align-items: center;
    max-height: 50px;
}

.form4 p{
    font-size: 25px;  
    
}
.form4 input{
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}
.form4 #input1{
    width: 170px;  
}
.form4 #input2{
    width: 352px;  
}


.form5 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form5 p{
    font-size: 25px;  
    
}
.form5 input{
    width: 228px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form6 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form6 p{
    font-size: 25px;  
    
}
.form6 input{
    width: 323px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form7 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form7 p{
    font-size: 25px;  
    
}
.form7 input{
    width: 454px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form8 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form8 p{
    font-size: 25px;  
    
}
.form8 input{
    width: 335px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}

.form9 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form9 p{
    font-size: 25px;  
    
}
.form9 select{
    width: 626px;
    height: 33px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form10 {
    display: flex;
    max-height: 50px;
    margin-bottom: 20px;
}
.form10 p{
    font-size: 28px;
    font-weight: bold;
}

.form11 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form11 p{
    font-size: 25px;  
    
}
.form11 input{
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}
.form11 #input1{
    margin-right: 2px;
}
.form11 #input5{
    width: 30px;
    margin-left: 5px;
    margin-right: 3px;
}
.form11 img{
    width: 13px;
    height: 13px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: 5px;
    
}
#comp_name{
    width: 308px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}
#company-search{
    width: 308px;
    height: 33px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}

.form12 {
    display: flex;
    max-height: 50px;
    margin-bottom: 20px;
}

.form12 p{
    font-size: 28px;
    font-weight: bold;
}

.form13 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form13 p{
    font-size: 25px;  
    
}
.form13 input{
    width: 150px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form14 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form14 p{
    font-size: 25px;  
    
}
.form14 input{
    width: 113px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form15 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form15 p{
    font-size: 25px;  
    
}
.form15 input{
    width: 736px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}

.form16 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form16 p{
    font-size: 25px;  
    
}
.form16 input{
    width: 201px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form17 {
    display: flex;
    align-items: center;
    max-height: 50px;
}
.form17 p{
    font-size: 25px;  
    
}
.form17 input{
    width: 227px;
    height: 30px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


.form18 {
    margin-top: 10px;
    display: flex;
    max-height: 50px;
    align-items: center;
}
.form18 p{
    font-size: 25px;  
    margin-right: 20px;
    
}
.form18 label{
    font-size: 20px;  
    margin-right: 30px;
    
}

.form19 {
    display: flex;
    max-height: 50px;
    margin-bottom: 15px;
}
.form19 p{
    font-size: 25px;  
    
}

.form20 {
    display: flex;
    max-height: 50px;
    align-items: center;
}
.form20 p{
    font-size: 25px; 
    margin-right: 20px; 
    
}
.form20 label{
    font-size: 20px; 
    margin-right: 30px; 
    
    
}
.form21 {
    display: flex;
    max-height: 50px;
    margin-bottom: 15px;
}
.form21 p{
    font-size: 25px;  
    
}


.form22 {
    display: flex;
    max-height: 50px;
    align-items: center;
}
.form22 p{
    font-size: 25px;  
}
.form22 label{
    font-size: 20px;  
    
}

.form23 {
    display: flex;
    max-height: 50px;
    margin-bottom: 20px;
    
}
.form23 p{
    font-size: 28px;
    font-weight: bold;
}

.form24 {
    display: flex;
    max-height: 60px;
    margin-bottom: 20px;
    
    
}
.form24 p{
    font-size: 25px;  
    margin-right: 30px;
}


.form25 {
    display: flex;
    max-height: 60px;
    margin-bottom: 50px;
}
.form25 p{
    font-size: 25px; 
    margin-right: 30px; 
}
.form28 {
    display: flex;
    max-height: 60px;
    margin-bottom: 50px;
}
.form28 p{
    font-size: 25px;  
    margin-right: 30px;
}

.form26{
    display: flex;
    margin-left: 650px;
    gap: 20px;
    margin-bottom: 50px;
}
.form27 {
    display: flex;  
    align-items: center;
    max-height: 50px;
    
}
.form27 p{
    font-size: 25px;  
    
}
.form27 input{
    width: 800px;
    height: 32px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}

.form29 {
    display: flex;  
    align-items: center;
    max-height: 50px;
}
.form29 p{
    font-size: 25px;  
    
}
.form29 input{
    width: 312px;
    height: 32px;  
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid black;
    border-radius: 5px;
}


/* ปรับสไตล์ของปุ่มเลือกไฟล์ */
.custom-file-upload {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    
}

.custom-file-upload input[type="file"] {
    display: none; /* ซ่อน input file จริง */
}

/* ปรับให้ span อยู่ตรงกลาง */
#application-file-name, #transcript-file-name, #resume-file-name {
    display: flex;
    align-items: center; /* จัดแนวตั้งให้กลาง */
    justify-content: center; /* จัดแนวนอนให้กลาง */
    margin-left: 15px;
    font-size: 16px;
    color: #555;
    font-style: italic;
    height: 40px;  /* เพิ่มความสูงเพื่อจัดแนวตั้ง */
    margin-top: 22px;
}

/* เมื่อยังไม่ได้เลือกไฟล์ */
#application-file-name.empty, #transcript-file-name.empty, #resume-file-name.empty {
    color: #aaa;
}

.b-red-form{
    background-color: #FF2D55;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 50px;
}
.b-red-form a{
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.b-blue-form{
    background-color: #233b6a;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: "Prompt", sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 50px;
}

.container-file{
    max-width:151vh;
    height: 88vh;
    margin-left: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
}
.header-profile-file {
    display: flex;
    gap: 10px;
    margin-left: 85px;
    padding-bottom: 50px;
    
}
.header-profile-file a {
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 7px;
    text-decoration: none;
    color: black;
}
.header-profile2-file{
    text-align: left;
    margin-left: 85px;
    font-size: 30px;
    font-style: normal;
}

.header-profile-file .Y-button {
    background-color: #FBDB48;
}

.file-student {
    display: flex;
    justify-content: center;
    gap: 20px; /* ระยะห่างระหว่างการ์ด */
    margin-top: 20px;
}

.file-card {
    background: white;
    border: 4px solid #FBDB48;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.file-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.file-card a {
    display: inline-block;
    background: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.file-card a:hover {
    background: #0056b3;
}







